<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha</th>
        <th scope="col" class="text-center">
          <button class="btn btn-sm btn-primary" routerLink="/users/add">
            <i class="fa fa-plus"></i> NUEVO
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.created_at}}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-primary" (click)="userShow(user.id)">
            <i class="fa fa-eye"></i>
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-sm btn-danger" (click)="userDelete(user.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>